### **Separate Excel Data into Workbooks by Column Values using Python Pandas**

In [1]:
import pandas as pd

In [2]:
excel_file_path = '/content/sales_data.xlsx'

In [3]:
df = pd.read_excel(excel_file_path)

In [6]:
df.head()

   Unique ID  Order ID  ... Product Category    Product Sub-Category
0       1025     13729  ...  Office Supplies  Storage & Organization
1       1045     28774  ...  Office Supplies  Storage & Organization
2       1065     44069  ...  Office Supplies                   Paper
3       1085     37537  ...        Furniture      Chairs & Chairmats
4       1090     37537  ...        Furniture      Chairs & Chairmats

[5 rows x 8 columns]

In [7]:
# Taking the column name to be separated by
column_name = 'Product Category'

In [11]:
split_values = df[column_name].unique()
#print(split_values)

In [12]:
for value in split_values:
  df1 = df[df[column_name]==value]
  output_file_name = column_name + "_" + str(value) + ".xlsx"
  df1.to_excel(output_file_name, index = False)